---
# base CSS for collectionbuilder
# includes some theming elements
# pulled in from "theme.yml" and "config-theme-colors.csv"
---
@charset "utf-8";

/* base variables pulled from theme.yml */
$base-font-family: {{ site.data.theme.base-font-family | default: '""' }};
$base-font-size: {{ site.data.theme.base-font-size | default: '""' }};
$text-color: {{ site.data.theme.text-color | default: '""' }};
$link-color: {{ site.data.theme.link-color | default: '""' }};

@mixin btn-cf($white, $cf-000){
  color: #177245;
  background-color: darken(#177245, 2%);
  background-image: linear-gradient(lighten(#177245, 5%), darken(#177245, 2%));
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);

  &:hover,
  &.zeroclipboard-is-hover {
    color: #263C29;
    background-color: darken(#263C29, 4%);
    background-image: linear-gradient((lighten(#263C29, 2%), darken(#263C29, 4%)));
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: darken($bg, 5%);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &.selected:hover {
    background-color: darken($bg, 10%);
  }
}

/* theme colors pulled from config-theme-colors */
{% assign btns = site.data.config-theme-colors | where_exp: "item","item.color != nil" %}
{% if btns != empty %}
{% for btn in btns %}
{% assign color = btn.color | strip %}{% if color != empty %}
${{ btn.color_class | slugify }}: {{ color }};{% endif %}
{% endfor %}
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    {% for btn in btns %}{% assign color = btn.color | strip %}{% if color != empty %}
    "{{ btn.color_class | slugify }}": ${{ btn.color_class | slugify }}{% unless forloop.last %},{% endunless %}
    {% endif %}{% endfor %}
  ),
  $theme-colors
);
@import "theme-colors", "theme-utilities";
{% endif %}

@import "base", "pages", "custom";
